<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Datathon API</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style>
      body { padding-top:50px; }
  </style>

  <link rel="stylesheet" href="style.css">

  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div class="container">
      <div class="jumbotron">
          <h1>Datathon API</h1>
          <!-- <p>Welcome to the Datathon API.</p> -->
          <p>This page lists how to use our API in order to gain valuable insights into our customers data.</p>
          <p>You may use this API to understand our customer demographics and how much of a "safe to spend balance" a customer has.</p>
          <small>The data served on this API is an aggregation of five files given by AIB with over 5 million rows.</small> <br>
          <small>This project began at the AIB Datathon (hence the name) competition in Dublin on the 7th of Nov 2015.</small>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h2>Routes</h2>
          <p>HTTP GET, POST, PUT and DELETE operations are in use.</p>
          <!-- <p>They all return JSON objects.</p> -->
        </div>
      </div>

<br><br>

      <div class="row">
        <div class="col-lg-4">
          <h3>GET</h3>
          <!-- <p><strong><a href="/datathon/customer">/datathon/customer</a></strong></p>
          <p>Returns all customer objects.</p>
          <br> -->
          <p><strong><a href="/datathon/customer/:id">/datathon/customer/:id</a></strong></p>
          <p><strong>Example:</strong> <a href="/datathon/customer/1">/datathon/customer/1</a></p>
          <p>Returns the customer object with given id</p>
        </div>

        <div class="col-lg-4">
          <h3>GET</h3>
          <!-- <p><strong><a href="/datathon/customer">/datathon/customer</a></strong></p>
          <p>Returns all customer objects.</p>
          <br> -->
          <p><strong><a href="/datathon/categories">/datathon/categories</a></strong></p>
          <p>Returns all categories and subcategories</p>
        </div>

        <div class="col-lg-4">
          <h3>DELETE</h3>
          <p><strong>/datathon/customer/:id</strong></p>
          <p>Deactivates account</p>
        </div>
      </div>

<br><br>

<div class="row">
  <div class="col-lg-4">
      <h3>PUT</h3>
      <p><strong>/datathon/customer/:id</strong></p>
      <p>Updates customer by id</p>
      <pre>Body: {payday: Number,county: String}</pre>
  </div>
    <div class="col-lg-4">
      <h3>PUT</h3>
      <p><strong>/datathon/customer/togglestatus/:id</strong></p>
      <p>Deactivate/Reactivate a customer account</p>
  </div>
</div>

  <br><br>

      <div class="row">
        <div class="col-lg-4">
          <h3>POST</h3>
          <p><strong>/datathon/customer</strong></p>
          <p>Adds a new customers</p>
          <pre>Body: {balance: Number, income: Number, payday: Number, age: Number, sex: String, county: String}</pre>
        </div>
        <div class="col-lg-4">
          <h3>POST</h3>
          <p><strong>/datathon/customer/add/transaction/:id</strong></p>
          <p>add a new transaction to the customers transaction list</p>
          <pre>Body: {category: String,subcategory: String,ammount: Number,type: String}</pre>
      </div>
      <div class="col-lg-4">
        <h3>POST</h3>
        <p><strong>/datathon/customer/add/rent/:id</strong></p>
        <p>add a new rent transaction to a customers</p>
        <pre>Body: {ammount: Number}</pre>
    </div>
  </div>
</div>

<br><br>
  <footer class="footer">
    <div class="container">
      <!-- <hr> -->
      <br>
      <p class="text-muted">
      Lean Mean Hacking Machine ©
      <span class="pull-right"><a style="color:inherit" target="_blank" href="https://github.com/JohnMalmsteen/aib-datathon">Fork Us</a></span>
      <p>
    </div>
  </footer>

</body>
</html>
