<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer Insights API</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <style>
      body { padding-top:50px; }
  </style>
</head>
<body>
  <div class="container">
      <div class="jumbotron">
          <h1>Customer Insights API</h1>
          <p>Welcome to the customer insights API.</p>
          <p>This page lists how to use our API in order to gain valuable insights into customer demographics <br> and also how much of a "safe to spend balance" a customer has.</p>
          <br>
          <h2>Routes</h2>
          <p>HTTP GET, POST, PUT and DELETE operations are in use.</p>
          <p>They all return JSON objects.</p>
          <br>
          <h3>GET</h3>
          <!-- <p><strong><a href="/datathon/customer">/datathon/customer</a></strong></p>
          <p>Returns all customer objects.</p>
          <br> -->
          <p><strong><a href="/datathon/customer/:id">/datathon/customer/:id</a></strong></p>
          <p><strong>Example:</strong> <a href="/datathon/customer/1">/datathon/customer/1</a></p>
          <p>Returns the customer object with given id</p>
          <br>
          <br>
          <h3>PUT</h3>
          <p><strong>/datathon/customer/:id</strong></p>
          <p>Updates customer information</p>
          <br>
          <br>
          <h3>POST</h3>
          <p><strong>/datathon/customer</strong></p>
          <p>Adds a new customers</p>
          <br>
          <br>
          <h3>DELETE</h3>
          <p><strong>/datathon/customer/:id</strong></p>
          <p>Deletes the customer object with given id</p>
          <br>
          <br>
      </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">Lean Mean Hacking Machine ©</p>
    </div>
  </footer>
</body>
</html>
