<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Datathon API</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <style>
      body { padding-top:50px; }
  </style>
</head>
<body>
  <div class="container">
      <div class="jumbotron">
          <h1>API Homepage</h1>
          <p>Go to <a href="/datathon">/datathon</a> to find out how to access the customer insights API</p>
      </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">Lean Mean Hacking Machine ©</p>
    </div>
  </footer>
</body>
</html>
